.footer {
  background-color: rgb(17, 19, 18);
  color: rgb(78, 231, 218);
  text-align: center;
  padding: 20px;
  box-shadow: inset 0 1px 0 rgba(78, 231, 218, 0.2);
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  width: 100%;
  user-select: none;
}

.footer-content {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.socials a {
  color: rgb(78, 231, 218);
  margin: 0 10px;
  text-decoration: none;
  border-bottom: 1px dashed transparent;
  transition: border-color 0.3s ease;
}

.socials a:hover {
  border-color: rgb(78, 231, 218);
}
